@use "@/app/utils";

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  column-gap: 2rem;

  padding-block: 2rem;

  > a {
    @include utils.font-size-clamp(18, 36);
  }

  > div:has(button) {
    inline-size: 100%;
  }

  .auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

@media (min-width: 480px) {
  .header {
    > div:has(button) {
      inline-size: unset;
    }
  }
}
