@use "@/app/utils";

.form-container {
  background-color: var(--color-gray-16);

  display: grid;
  gap: 4rem;

  padding: 2rem;

  border-radius: var(--border-radius);

  header {
    display: grid;
    gap: 0.5rem;
  }

  main {
    form {
      display: grid;
      gap: 4rem;

      .separator {
        color: var(--color-gray-40);

        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 1rem;

        text-transform: uppercase;

        &::before,
        &::after {
          content: "";

          border-block-start: 0.1rem solid currentcolor;
        }
      }

      .fields-wrapper {
        display: grid;
        gap: 4rem;

        label {
          display: grid;
          grid-template-columns: minmax(0, 1fr);
          gap: 0.5rem;

          .title {
            font-size: 1.2em;
          }

          .hint {
            color: var(--color-gray-70);
          }
        }
      }
    }
  }
}

.field {
  background-color: var(--color-gray-10);

  display: flex;
  align-items: center;
  gap: 1em;

  border: 0.2rem solid var(--color-gray-20);
  border-radius: var(--border-radius);

  @include utils.font-size-clamp(14, 18);

  input {
    flex: 1 1 20rem;

    background-color: transparent;

    padding: var(--form-element-padding);

    border: none;

    &:focus {
      outline: none;
    }
  }

  &--password {
    input {
      inline-size: 0;
    }
  }

  &:has(input:not(:focus-visible)) {
    &:has(input[data-show-border-vaildation="true"]) {
      &:has(input:invalid) {
        border-color: var(--color-danger);
      }

      &:has(input:valid) {
        border-color: var(--color-success);
      }
    }
  }

  &:has(input:focus-visible) {
    outline: var(--outline-focus-visible);

    &:has(input:invalid) {
      outline-color: var(--color-danger);
    }

    &:has(input:valid) {
      outline-color: var(--color-success);
    }
  }
}
