.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1rem;

  padding-block: 2rem;

  .copyright {
    order: 1;
  }

  .source {
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
  }
}

@media (min-width: 480px) {
  .footer {
    justify-content: space-between;

    .copyright {
      order: 0;
    }
  }
}
