.generator-component {
  display: grid;
  grid-template-areas: "guide" "form" "list";
  gap: 6rem;

  .form {
    grid-area: form;
  }

  .guide {
    grid-area: guide;
  }

  .list {
    grid-area: list;
  }
}

@media (min-width: 960px) {
  .generator-component {
    grid-template-areas: "form guide" "list list";
    grid-template-columns: 1fr 1fr;
  }
}
