.snackbars {
  position: fixed;
  inset: 0;
  z-index: 1;

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 1rem;

  max-inline-size: 60rem;

  padding: 2rem;

  pointer-events: none;

  > * {
    pointer-events: initial;
  }
}
