name: Deploy
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    uses: BijanProgrammerWebsites/hub/.github/workflows/deploy-nextjs-with-prisma.yml@master
    with:
      process-name: schort
      port: 3002
    secrets: inherit
